<h2>Officer Information for <%= @officer.first_name %> <%= @officer.last_name %></h2>

<%= render partial: "partials/show_structure", locals: {model_name: "officer", 
                                                         object: @officer,
                                                         primary: "officer_data", 
                                                         secondary: nil,
                                                         sidebar: nil} %>